{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class='grid-row'>
    <div class='column-full'>
      <div class="navigation-service">
        <div class="navigation-service-name">
          Apply for a military service medal
        </div>
        <a href="services" class="navigation-service-switch">Switch service</a>
      </div>
    </div>
  </div>
  <div class='grid-row'>
    <div class='column-one-third'>
      <ul class='service-nav'>
        <li><a href="#" class='active'>Dashboard</a></li>
        <li><a href="data-apply-for-military-service-medal">Data</a></li>
        <li><a href="settings-apply-for-military-service-medal">Settings</a></li>
      </ul>
    </div>
    <div class='column-two-thirds float-right'>
      <h2 class='heading-large margin-top-none'>
        In the last 7 days
      </h2>
    </div>
    <div class='column-one-third'>
      <h3 class='heading-small'>Applications completed</h3>
      <span class='big-number'>66% </span>
    </div>
    <div class='column-one-third'>
      <h3 class='heading-small'>Average completion time</h3>
      <span class='big-number'>6 mins 7 seconds </span>
    </div>

    <div class='column-two-thirds float-right'>
      <h3 class='heading-small'>
        Total transactions completed
      </h3>
      <span class='big-number'> 266</span>
      <img src="../public/images/analytics/analytics-01.svg" alt="" class='padding-top-small'>
    </div>
    <div class='column-two-thirds float-right'>
      <h3 class='heading-small'>
        Total transactions abandoned
      </h3>
      <span class='big-number'>89</span>
      <img src="../public/images/analytics/analytics-02.svg" alt="" class='padding-top-small'>
    </div>
    <div class='column-two-thirds float-right'>
      <h3 class='heading-small'>Most abandonded questions</h3>
      <table class='analytics-table'>
        <tr>
          <td class='table-percent'>1.</td>
          <td>Upload a copy of lasting power of attorney certificate</td>
          <td class='table-percent'>22%</td>
        </tr>
        <tr>
          <td class='table-percent'>2.</td>
          <td>Are any of these relatives of the serviceperson alive?</td>
          <td class='table-percent'>18%</td>
        </tr>
        <tr>
          <td class='table-percent'>3.</td>
          <td>How are you related to the service person?</td>
          <td class='table-percent'>16%</td>
        </tr>
        <tr>
          <td class='table-percent'>4.</td>
          <td>Which organisations did you serve with?</td>
          <td class='table-percent'>8%</td>
        </tr>
        <tr>
          <td class='table-percent'>5.</td>
          <td>Are you applying for medals awarded to you?</td>
          <td class='table-percent'>5%</td>
        </tr>
      </table>
    </div>
    <div class='column-two-thirds float-right'>
      <h3 class='heading-small'>Most visited exit page</h3>
      <table class='analytics-table'>
        <tr>
          <td class='table-percent'>1.</td>
          <td>The application must be made by the serviceperson’s closest living relative</td>
          <td class='table-percent'>22%</td>
        </tr>
        <tr>
          <td class='table-percent'>2.</td>
          <td>Apply through human resources in your unit</td>
          <td class='table-percent'>18%</td>
        </tr>
        <tr>
          <td class='table-percent'>3.</td>
          <td>You must provide evidence of the serviceperson’s death</td>
          <td class='table-percent'>16%</td>
        </tr>
      </table>
    </div>
  </div>
</main>

{% endblock %}

