{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}


<main id="content" role="main">
  <div class="grid-row">
    <div class='column-two-thirds'>
      <nav class="breadcrumbs" aria-label="Breadcrumbs">
         <ol>
           <li class="breadcrumbs__item">
             <a href="https://www.gov.uk/service-toolkit#components" itemprop="item">Components</a>
           </li>
           <li class="breadcrumbs__item">
             <a href="index" itemprop="item">GOV.UK Submit</a>
           </li>
           <li class="breadcrumbs__item--active">
             <span itemprop="name">Get started</span>
           </li>
         </ol>
       </nav>
     </div>
     <div class="column-two-thirds">
      <h1 class="heading-large">
        Get started
      </h1>
      <p>
        With GOV.UK Submit, you can usually set up a new online transaction in a few weeks.
      </p>
      <ol class='get-started'>
        <li>
          <h2 class='heading-medium'>Check Submit is right for your service</h2>
          <p>
            We’re adding new functionality to Submit all the time.
          </p>
          <p>
            For now, you can <a href='features'>check our features</a> to find out whether your service is a good fit.
          </p>
        </li>
        <li>
          <h2 class='heading-medium'>Contact the Submit team</h2>
            <p>
              Use our <a href='#'>contact form</a> to get in touch with us.
            </p>
            <p>
              Try to include details of what you’re hoping to build, and what existing forms (if any) you have.
            </p>
            <p>
              We’ll review your email and get back to you. If your transaction is a good fit for Submit, we’ll talk to you about setting up an initial visit.
            </p>
        </li>
        <li>
          <h2 class='heading-medium'>
            Meet with us to discuss your service
          </h2>
          <p class="list-lede">
            We’ll meet with you to understand your service. We’ll talk about:
          </p>
          <ul class='list list-bullet'>
            <li>problems you or your users might have with the current service</li>
            <li>your users and what they need from your service</li>
            <li>any legal or policy constraints</li>
            <li>who your stakeholders are</li>
            <li>the business rules that govern your service</li>
          </ul>
        </li>
        <li>
          <h2 class="heading-medium">
            Design and test your digital transaction
          </h2>
          <p>
            We’ll work with you to design a user journey for your transaction.
          </p>
          <p>
            From this, we can then create a prototype to share with stakeholders and test with users.
          </p>
          <p>
            We’ll iterate the prototype based on feedback from this process.
          </p>
        </li>
        <li>
          <h2 class='heading-medium'>Go live</h2>
          <p>
             ¯\_(ツ)_/¯
          </p>
        </li>
      </ol>

    </div>
  </div>
</main>

{% endblock %}


