{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class='product-banner'>
  <div class='product-container grid-row'>
    <nav class="breadcrumbs breadcrumbs--inverse" aria-label="Breadcrumbs">
     <ol>
       <li class="breadcrumbs__item">
         <a href="https://www.gov.uk/service-toolkit#components" itemprop="item">Components</a>
       </li>
       <li class="breadcrumbs__item breadcrumbs__item--active">
         <span itemprop="name">GOV.UK Submit</span>
       </li>
     </ol>
    </nav>
    <div class='column-two-thirds'>
      <h1 class='heading-xlarge'>
        Get help to create simple digital transactions
      </h1>
      <p class='lede'>
        Use GOV.UK Submit to build and manage online forms with help from the Government Digital Service.
      </p>
      <a href='get-started' role='button' class='hero-button'>
        See how to get started
      </a>
    </div>
    <div class='column-one-third'>
      <img src="https://registers.cloudapps.digital/assets/registers-top-image-cb1acf18fa984d51a22976a7bfb8140abee47770a3c659243ca03f9087cc7331.png" alt="" width="100%">
    </div>
  </div>
</div>

<main id="content" role="main">
  <div class='grid-row homepage-section'>
    <div class='column-one-half'>
      <h2 class='heading-medium'>
        Build digital services without a digital team
      </h2>
      <p>
        With Submit, you can create simple online transactions without needing your own digital team. Instead, GDS will work with you and provide the tools and people you need.
      </p>
      <p>
        You can build new forms, or create digital versions of ones you have offline.
      </p>
      <p>
        Learn more about <a href='get-started'>how to get started with Submit</a> and the <a href='#¡'>types of transaction you can currently create</a>.
      </p>
    </div>
  </div>
  <div class='grid-row homepage-section'>
    <div class='column-one-half'>
      <h2 class='heading-medium'>
        For services with fewer than 100,000 transactions
      </h2>
      <p>
        Some government services can’t justify investing in a full digital team.
      </p>
      <p>
        Submit is designed for services with fewer than 100,000 transactions per year, across all government organisations.
      </p>
      <h3 class='heading-small'>
        Built for the needs of government
      </h3>
      <p>
        Submit is designed for the needs of government services and operational teams.
      </p>
      <p class='list-lede'>
        You’ll benefit from GDS’ experience in:
      </p>
      <ul class='list-bullet list'>
        <li>building transactions that are designed to meet user needs</li>
        <li>the Digital Service Standard</li>
        <li>GOV.UK style and accessibility standards</li>
      </ul>
    </div>
  </div>
  <div class='grid-row homepage-section'>
    <div class='column-one-half'>
      <h2 class='heading-medium'>
        Better for users
      </h2>
      <p class="list-lede">
        Digital transactions can:
      </p>
      <ul class="list list-bullet">
        <li>simplify complicated guidance and user journeys</li>
        <li>automate simple calculations</li>
        <li>accept online payments</li>
        <li>offer assistance to users with accessibility needs</li>
      </ul>
    </div>
    <div class='column-one-half'>
      <h2 class='heading-medium'>
        Better for services
      </h2>
      <p class="list-lede">
        Government services benefit from digital transactions, because they:
      </p>
      <ul class="list list-bullet">
        <li>reduce the number of user errors</li>
        <li>prevent ineligible applications</li>
        <li>reduce the amount of support users need</li>
        <li>save time spent on manual data entry</li>
        <li>reduce paper processing</li>
        <li>make it easier to manage payments</li>
        <li>let you track and improve how your service is performing</li>
      </ul>
    </div>
  </div>
  <div class='grid-row homepage-section'>
    <div class='column-two-thirds'>
      <h2 class="heading-medium">
        Who’s using GOV.UK Submit
      </h2>
    </div>
    <div class='column-one-half'>
      <div class='homepage-big-number'>
        0
      </div>
      <p>
        organisations
      </p>
    </div>
    <div class='column-one-half'>
      <div class='homepage-big-number'>
        0
      </div>
      <p>
        services
      </p>
    </div>
  </div>
    <div class='grid-row homepage-section'>
    <div class='column-two-thirds'>
      <h2 class="heading-medium">
        Pricing
      </h2>
    </div>
    <div class='column-one-half'>
      <div class='homepage-big-number'>
        £10k to £50k
      </div>
      <p>
        design and development per form
      </p>
    </div>
    <div class='column-one-half'>
      <div class='homepage-big-number'>
        Free
      </div>
      <p>
        hosting and maintanence
      </p>
    </div>
  </div>
</main>

{% endblock %}

