{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class='product-banner'>
  <div class='product-container grid-row'>
    <div class='column-two-thirds'>
      <h1 class='heading-xlarge'>
        Submit product page
      </h1>
      <p class='lede'>
        Build digital transactions quickly.
      </p>
      <p class='lede'>
        <a href='register'>Create an account</a> or <a href='#'>sign in</a>.
      </p>
    </div>
  </div>
</div>

<main id="content" role="main">
  <div class='grid-row'>
    <div class='column-two-thirds'>
      <h2 class='heading-medium'>
        Demo service
      </h2>
      <p>
        Make services easily.
      </p>
      <a href='#'>
        View demo service
      </a>
    </div>
  </div>
</main>

{% endblock %}

