{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class='product-banner'>
  <div class='product-container grid-row'>
    <div class='column-one-whole'>
      <nav class="breadcrumbs breadcrumbs--inverse" aria-label="Breadcrumbs">
       <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
         <li class="breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
           <a href="https://www.gov.uk/service-toolkit#components" itemprop="item"><span itemprop="name">Components</span></a>
         </li>
         <li class="breadcrumbs__item breadcrumbs__item--active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
           <span itemprop="name">GOV.UK Submit</span>
         </li>
       </ol>
      </nav>
    </div>
    <div class='column-two-thirds'>
      <h1 class='heading-xlarge'>
        Get help to create simple digital transactions
      </h1>
      <p class='lede'>
        Use GOV.UK Submit to create and manage online transactions with help from the Government Digital Service.
      </p>
      <p class=''>
        <span class='lede'><a href='register'>Create an account</a></span> or <a href='services'>sign in if you’ve used it before</a>.
      </p>
    </div>
    <div class='column-one-third'>
      <img src="https://www.payments.service.gov.uk/pay-product-page/images/pay-top-image-5f2b3404.png" alt="" width="100%">
    </div>
  </div>
</div>

<main id="content" role="main">
  <div class='grid-row homepage-section'>
    <div class='column-one-half'>
      <h2 class='heading-medium'>
        Digital transactions without your own digital team
      </h2>
      <p>
        With Submit, you can create simple online transactions without needing your own digital team. Instead, GDS will work with you and provide the tools and people you need.
      </p>
      <p>
        Learn more about <a href='#!'>how to get started with Submit</a> and the <a href='#¡'>types of transaction you can currently create</a>.
      </p>
    </div>
  </div>
  <div class='grid-row homepage-section'>
    <div class='column-one-half'>
      <h2 class='heading-medium'>
        All organisations, all services
      </h2>
      <p>
        Submit is designed for services of all sizes, across all government organisations.
      </p>
      <h3 class='heading-small'>
        The long tail of government services
      </h3>
      <p class='list-lede'>
        Some services can’t justify a full digital transformation project because they:
      </p>
      <ul class='list-bullet list'>
        <li>don’t get enough transactions</li>
        <li>can’t afford it</li>
        <li>are in organisations that have other priorities</li>
      </ul>
      <h3 class="heading-small">
        Built for the needs of government
      </h3>
      <p>
        Submit is built for government services. You can integrate it with your existing systems, and work with GDS designers and developers who are trained in the GOV.UK style and service standards.
      </p>
    </div>
  </div>
  <div class='grid-row homepage-section'>
    <div class='column-one-half'>
      <h2 class='heading-medium'>
        Better for users
      </h2>
      <ul class="list list-bullet">
        <li>simplify complex guidance</li>
        <li>offer reassurance that their application has been received</li>
        <li>automate simple calculations</li>
        <li>accept online payments</li>
        <li>offer assistance to users with accessibility needs</li>
      </ul>
    </div>
    <div class='column-one-half'>
      <h2 class='heading-medium'>
        Better for services
      </h2>
      <ul class="list list-bullet">
        <li>reduce the number of user errors</li>
        <li>check whether users are eligible</li>
        <li>reduce the amount of support users need</li>
        <li>save time spent on manual data entry</li>
        <li>reduce paper processing</li>
        <li>make it easier to manage payments</li>
        <li>let you track and improve how your service is performing</li>
      </ul>
    </div>
  </div>
  <div class='grid-row homepage-section'>
    <div class='column-two-thirds'>
      <h2 class="heading-medium">
        Who’s using GOV.UK Submit
      </h2>
    </div>
    <div class='column-one-half'>
      <div class='homepage-big-number'>
        0
      </div>
      <p>
        organisations
      </p>
    </div>
    <div class='column-one-half'>
      <div class='homepage-big-number'>
        0
      </div>
      <p>
        services
      </p>
    </div>
  </div>
    <div class='grid-row homepage-section'>
    <div class='column-two-thirds'>
      <h2 class="heading-medium">
        Pricing
      </h2>
    </div>
    <div class='column-one-half'>
      <div class='homepage-big-number'>
        £10k to £50k
      </div>
      <p>
        per form
      </p>
    </div>
    <div class='column-one-half'>
      <div class='homepage-big-number'>
        Free
      </div>
      <p>
        hosting and maintanence
      </p>
    </div>
  </div>
</main>

{% endblock %}

