{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class='grid-row'>
    <div class='column-two-thirds'>
      <h1 class='heading-large'>
        Choose service
      </h1>
      <h2 class="heading-medium">Live</h2>
      <ul class='service-list'>
        <li>
          <h3 class='heading-small'>
            <a href='dashboard-apply-for-military-service-medal'>Apply for a military service medal</a>
          </h3>
        </li>
      </ul>
      <h2 class="heading-medium">Draft</h2>
      <ul class='service-list'>
        <li>
          <h3 class='heading-small'>
            <a href='dashboard-apply-for-apply-for-veterans-badge'>Apply for veterans badge</a>
          </h3>
        </li>
      </ul>
      <a href='#1'>
        Request a new transaction...
      </a>
    </div>
  </div>
</main>

{% endblock %}

