{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class='grid-row'>
    <div class='column-two-thirds'>
      <h1 class='heading-large'>
        Performance
      </h1>
    </div>
  </div>
  <div class="grid-row">
    <div class='column-one-third'>
      <p>Since 1 January 2018</p>
    </div>
  </div>
  <div class='grid-row'>
    <div class='column-two-thirds'>
      <h3 class='heading-small'>Transactions</h3>
    </div>
  </div>
  <div class='grid-row'>
    <div class='column-one-third foo'>
      <h4 class="">Completed</h4>
    </div>
    <div class='column-one-third'>
      <h4 class="">Zero failure completion</h4>
    </div>
    <div class='column-one-third'>
      <h4 class="">Completion rate</h4>
    </div>
  </div>
  <div class='grid-row'>
    <div class='column-one-third'>
      <h4 class="">Completion time</h4>
    </div>
  </div>
  <div class='grid-row'>
    <div class='column-two-thirds'>
      <h3 class='heading-small'>Questions</h3>
    </div>
  </div>
  <div class='grid-row'>
    <div class='column-one-third'>
      <h4 class="">Validation failures</h4>
    </div>
  </div>
</main>

{% endblock %}

