// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


// Homepage

.product-banner {
  background-color: $govuk-blue;
  margin-top: -10px;
  padding: {
    top: 10px;
    bottom: 30px;
  }
  .product-container {
    @extend %site-width-container;
    .column-two-thirds {
      padding: 0px;
    }
    img {
      padding-top: 30px;
    }
    .heading-xlarge {
      margin-bottom: 30px;
    }
    color: white;
    a {
      color: white;
      &:visited {
        color: white;
      }
      &:hover {
        color: rgba(255,255,255,0.75);
      }
    }
    p {
      @include core-19;
    }
    .lede {
      @include core-24;
    }
    .hero-button {
      display: inline-block;
      margin: 10px 0;
      background-color: white;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      color: $govuk-blue;
      border-bottom: 2px solid rgba(0,0,0,0.75);
      padding: 5px 20px;
      &:hover {
        color: $link-hover-colour;
      }
      &:visited {
        color: $govuk-blue;
      }
    } 
  }
}

.homepage-section {
  padding-bottom: 20px;
  border-bottom: 1px solid $border-colour;
  &:last-of-type {
    border-bottom: none;
  }
  .homepage-big-number {
    font-size: 48px;
    line-height: 32px;
    font-weight: bold;
  }
}

.breadcrumbs--inverse {
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

// Get started

.get-started {
  list-style-type: decimal;
  @include core-24;
  font-weight: bold;
  p {
    @include core-19;
  }
  .list-bullet {
    font-weight: normal;
    @include core-19;
  }
}

// White space

$small: 10px;
$medium: 20px;
$large: 40px;

.padding-top-small {
  padding-top: $small;
}

.padding-top-medium {
  padding-top: $medium;
}

.padding-top-large {
  padding-top: $large;
}

.margin-top-none {
  margin-top: 0px;
}

.margin-top-small {
  margin-top: $small;
}

.margin-top-medium {
  margin-top: $medium;
}

.margin-top-large {
  padding-top: $large;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

// General

.header-proposition {
  .content {
    background-color: red;
    ul {
      float: right;
      li {
        padding-right: 0px !important;
        padding-left: 15px !important;
      }
    }
  }
}

.service-list {
  display: block;
  &:last-of-type {
    margin-bottom: 20px;
  }
  li {
    .service-summary {
      @include core-16;
      dt, dt {
        width: 25%;
        float: left;
        display: inline-block;
      }
      dd {

      }
      .summary-heading {
        font-weight: bold;
        padding-bottom: 5px;
      }
    }
  }
}

.list-lede {
  margin-bottom: 0px;
}

.breadcrumbs {
  &__item {
    &--active {
      font-weight: bold !important;
    }
  }
}

.navigation-service {
  border-bottom: 1px solid $border-colour;
  margin-bottom: 20px;
  .navigation-service-name {
    font-weight: bold;
    margin: 10px 0px;
    display: inline-block;
  }
  .navigation-service-switch {
    margin-top: 10px;
    text-decoration: none;
    float: right;
    &:hover {
      color: $link-hover-colour;
    }
    &:visited {
      color: $govuk-blue;
    }
  }
}

.header-logo {
  margin-right: 10px !important;
}

.product-name {
  position: relative;
  font-weight: 400;
  padding-left: 5px;
  font-size: 24px;
  color: white;
  display: inline-block;
  top: 5px;
  margin-left: -150px;
  margin-right: 10px;
}

.header-proposition {
  display: inline-block;
  width: 30% !important;
  float: right !important;
  margin-top: -30px;
}

.product-name a {
  color: white;
  text-decoration: none;
}

.product-name a:hover {
 text-decoration: underline;
}

.service-nav {
  a {
    text-decoration: none;
    &:visited {
      color: $govuk-blue;
    }
  }
  li {
    margin-bottom: 10px;
  }
}

.big-number {
  @include core-24($tabular-numbers: true);
  font-weight: bold;
}

.analytics-table {
  margin-bottom: 20px;
  td {
    vertical-align: top;
  }
  .table-percent {
    @include core-19($tabular-numbers: true);
    text-align: right;
  }
}

.foo {
  background-color: red;
}

.active {
  font-weight: bold;
}

.float-right {
  float: right;
}